<h1>About</h1>
<p>This app is dedicated to those who is too busy living everyday life to think about their initial dreams.</p>
<p>Take a little time to think what you truly wanted to do in your life...</p>
